body{
    margin:0;
    padding:0;
    outline:0;
}

a{
    text-decoration:none;
}

ul{
     list-style: none;
 }

 /* menu start */
 .navbar{
     margin-top: 30px;
     position: fixed;
     width: 100%;
     z-index: 100;
 }
.custom-logo{
    width: 200px;
    height: 50px;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: #30e0db;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
    margin-right:15px;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus{
    color:#30e0db;
}
 /* menu end */


 /*----banner start-----*/
.banner{
    background: url(../images/banner.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.banner::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(48, 10, 102, 0.5);
}
.banner-content{
    position: relative;
    z-index: 99;
    padding-top: 230px;
    padding-bottom: 205px;
}
.banner-content h2{
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    position: relative;
}
.banner-content h2::after{
    position: absolute;
    content:'';
    width: 50px;
    height: 2px;
    background:#1fa4cc;
    left: 47%;
    top: 160%;
}
.banner-content p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    padding: 55px 115px 50px 115px;
}
.banner-content a{
    border: 1.5px solid #1fa4cc;
    color: #1fa4cc;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
}
/*-----slick slider-----*/
.banner-slider{
    z-index: 100;
}
.slick-dots{
    margin: 0 auto;
}
.slick-dots li{
    display: inline-block;
    padding-right: 10px;
    width: 15px;
    height: 15px;
    line-height: 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-right: 8px;
    overflow: hidden;
}
.slick-dots li button{
    height: 10px;
    width: 10px;
    line-height: 17px;
    border-radius: 50%;
    color: transparent;
    border: none;
    background: #07947c;
    opacity: 0;
    transition: 0.5s all ease;
}
.slick-dots li.slick-active button{
    outline: none;
    opacity: 1;
}
/*----banner end-----*/


/*----about start-----*/
.about{
    padding: 70px;
}
.about-content h2{
    margin-bottom: 0 !important;
    padding-bottom: 20px;
    color: #383d39;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
} 
.about-content p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-bottom: 20px;
    margin-bottom: 0 !important;
}
.about-content a{
    border: 1.5px solid #1fa4cc;
    color: #1fa4cc;
    padding: 7px 10px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}
/*----about end-----*/

/*----video start-----*/
.video{
    background: url(../images/video_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding:200px 0;
}
.video::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(48, 10, 102, 0.5);
}
.video-icon{
    position: relative;
    z-index: 99;
}
.fa-play-circle{
    color: #ffffff;
    font-size: 60px;
    cursor: pointer;
}
.video-icon h4{
    margin-top: 15px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
}
/*----video end-----*/


/*----service start-----*/
.service{
    padding: 80px;
}
.service-top h2{
    margin-bottom: 0 !important;
    padding-bottom: 20px;
    color: #383d39;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.service-top p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-bottom: 0 !important;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}
.service-top p::after{
    position: absolute;
    content:'';
    width: 80px;
    height: 2px;
    background:#1fa4cc;
    left: 44%;
    top: 170%;
}
.service-item{
    margin-top: 90px;
}
.service-item h5{
     padding-top: 15px;
     font-family: 'Playfair Display', serif;
}
.service-item p{
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}


/*----service end-----*/